* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_5947 {
  width: 100%;
  height: 1117px;
  background: rgba(238,244,241,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_5951 {
  width: 252px;
  height: 60px;
  background: url("../images/v9_5951.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 467px;
  overflow: hidden;
}
.v9_5952 {
  width: 130px;
  height: 60px;
  background: url("../images/v9_5952.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_5953 {
  width: 110px;
  color: rgba(0,0,0,0.25);
  position: absolute;
  top: 13px;
  left: 10px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_5954 {
  width: 122px;
  height: 60px;
  background: url("../images/v9_5954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 130px;
  overflow: hidden;
}
.v9_5955 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 10px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_6453 {
  width: 100%;
  height: 618px;
  background: url("../images/v9_6453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 467px;
  overflow: hidden;
}
.v9_5996 {
  width: 100%;
  height: 37px;
  background: url("../images/v9_5996.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_5997 {
  width: 128px;
  height: 53px;
  background: url("../images/v9_5997.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 24px;
  overflow: hidden;
}
.v9_5998 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6000 {
  width: 146px;
  height: 53px;
  background: url("../images/v9_6000.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 212px;
  overflow: hidden;
}
.v9_6001 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6003 {
  width: 159px;
  height: 53px;
  background: url("../images/v9_6003.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 489px;
  overflow: hidden;
}
.v9_6004 {
  width: 105px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6006 {
  width: 159px;
  height: 53px;
  background: url("../images/v9_6006.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 708px;
  overflow: hidden;
}
.v9_6007 {
  width: 105px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6009 {
  width: 159px;
  height: 53px;
  background: url("../images/v9_6009.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 975px;
  overflow: hidden;
}
.v9_6010 {
  width: 105px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6452 {
  width: 100%;
  height: 438px;
  background: url("../images/v9_6452.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
  overflow: hidden;
}
.v9_6442 {
  width: 100%;
  height: 24px;
  background: url("../images/v9_6442.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_6308 {
  width: 1000px;
  height: 24px;
  background: url("../images/v9_6308.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v9_5956 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5964 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 188px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5972 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 465px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5980 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 684px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5988 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 951px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6443 {
  width: 100%;
  height: 26px;
  background: url("../images/v9_6443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v9_6309 {
  width: 1000px;
  height: 24px;
  background: url("../images/v9_6309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v9_5957 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5965 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 188px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5973 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 465px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5981 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 684px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5989 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 985px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6444 {
  width: 100%;
  height: 26px;
  background: url("../images/v9_6444.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 0px;
  overflow: hidden;
}
.v9_6310 {
  width: 1000px;
  height: 24px;
  background: url("../images/v9_6310.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v9_5958 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5966 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 188px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5974 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 465px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5982 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 684px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5990 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 985px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6445 {
  width: 100%;
  height: 26px;
  background: url("../images/v9_6445.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 0px;
  overflow: hidden;
}
.v9_6311 {
  width: 1000px;
  height: 24px;
  background: url("../images/v9_6311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v9_5959 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5967 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 188px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5975 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 465px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5983 {
  width: 229px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 684px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5991 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 985px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6446 {
  width: 100%;
  height: 26px;
  background: url("../images/v9_6446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 0px;
  overflow: hidden;
}
.v9_6410 {
  width: 1000px;
  height: 24px;
  background: url("../images/v9_6410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v9_6411 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_6412 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 188px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_6413 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 465px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_6414 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 684px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_6415 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 985px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6447 {
  width: 100%;
  height: 26px;
  background: url("../images/v9_6447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 0px;
  overflow: hidden;
}
.v9_6416 {
  width: 1000px;
  height: 24px;
  background: url("../images/v9_6416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v9_6417 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_6418 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 188px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_6419 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 465px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_6420 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 684px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_6421 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 985px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6448 {
  width: 100%;
  height: 26px;
  background: url("../images/v9_6448.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 0px;
  overflow: hidden;
}
.v9_6312 {
  width: 1000px;
  height: 24px;
  background: url("../images/v9_6312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v9_5960 {
  width: 87px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5968 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 187px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5976 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 465px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5984 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 684px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5992 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 985px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6449 {
  width: 100%;
  height: 26px;
  background: url("../images/v9_6449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 0px;
  overflow: hidden;
}
.v9_6313 {
  width: 1000px;
  height: 24px;
  background: url("../images/v9_6313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v9_5961 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5969 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 188px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5977 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 465px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5985 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 684px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5993 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 985px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6450 {
  width: 100%;
  height: 26px;
  background: url("../images/v9_6450.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 0px;
  overflow: hidden;
}
.v9_6314 {
  width: 1000px;
  height: 24px;
  background: url("../images/v9_6314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v9_5962 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5970 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 187px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5978 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 465px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5986 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 684px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5994 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 985px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6451 {
  width: 100%;
  height: 26px;
  background: url("../images/v9_6451.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 0px;
  overflow: hidden;
}
.v9_6315 {
  width: 1000px;
  height: 24px;
  background: url("../images/v9_6315.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v9_5963 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5971 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 187px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5979 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 465px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5987 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 684px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_5995 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 985px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_6454 {
  width: 100%;
  height: 103px;
  background: url("../images/v9_6454.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 515px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v9_6361 {
  width: 427px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 58px;
  left: 467px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v11_3378 {
  width: 358px;
  height: 1117px;
  background: rgba(34,128,79,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_3379 {
  width: 358px;
  height: 415px;
  background: url("../images/v11_3379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 0px;
  overflow: hidden;
}
.v11_3380 {
  width: 358px;
  height: 83px;
  background: url("../images/v11_3380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 25px 100px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_3381 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_3382 {
  width: 358px;
  height: 83px;
  background: rgba(224,239,231,1);
  padding: 25px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 0px;
  overflow: hidden;
}
.v11_3383 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_3384 {
  width: 358px;
  height: 83px;
  background: rgba(209,208,208,1);
  padding: 25px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 0px;
  overflow: hidden;
}
.v11_3385 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_3386 {
  width: 358px;
  height: 83px;
  background: rgba(209,208,208,1);
  padding: 25px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 0px;
  overflow: hidden;
}
.v11_3387 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_3388 {
  width: 358px;
  height: 83px;
  background: rgba(209,208,208,1);
  padding: 25px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 332px;
  left: 0px;
  overflow: hidden;
}
.v11_3389 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_3390 {
  width: 238px;
  height: 94px;
  background: url("../images/v11_3390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 71px;
  overflow: hidden;
}
.v11_3396 {
  width: 360px;
  height: 68px;
  background: url("../images/v11_3396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 100px;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 1368px;
  overflow: hidden;
}
.v11_3397 {
  width: 48px;
  height: 48px;
  background: url("../images/v11_3397.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 100px;
  overflow: hidden;
}
.v11_3398 {
  width: 48px;
  height: 48px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_3399 {
  width: 32px;
  height: 40px;
  background: rgba(47,148,96,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 8px;
}
.v11_3400 {
  width: 48px;
  height: 48px;
  background: url("../images/v11_3400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 212px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
