* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_5859 {
  width: 100%;
  height: 1117px;
  background: rgba(238,244,241,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_5860 {
  width: 358px;
  height: 1117px;
  background: rgba(34,128,79,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_5862 {
  width: 358px;
  height: 415px;
  background: url("../images/v9_5862.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 0px;
  overflow: hidden;
}
.v9_5863 {
  width: 358px;
  height: 83px;
  background: rgba(224,239,231,1);
  padding: 25px 100px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_5864 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_5865 {
  width: 358px;
  height: 83px;
  background: rgba(209,208,208,1);
  padding: 25px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 0px;
  overflow: hidden;
}
.v9_5866 {
  width: 159px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_5867 {
  width: 358px;
  height: 83px;
  background: rgba(209,208,208,1);
  padding: 25px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 0px;
  overflow: hidden;
}
.v9_5868 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_5869 {
  width: 358px;
  height: 83px;
  background: rgba(209,208,208,1);
  padding: 25px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 0px;
  overflow: hidden;
}
.v9_5870 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_5871 {
  width: 358px;
  height: 83px;
  background: rgba(209,208,208,1);
  padding: 25px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 332px;
  left: 0px;
  overflow: hidden;
}
.v9_5872 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_6317 {
  width: 238px;
  height: 94px;
  background: url("../images/v9_6317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 71px;
  overflow: hidden;
}
.v9_5873 {
  width: 784px;
  height: 80px;
  background: url("../images/v9_5873.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 212px;
  left: 457px;
  overflow: hidden;
}
.v9_5874 {
  width: 187px;
  height: 60px;
  background: url("../images/v9_5874.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v9_5875 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 10px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_5876 {
  width: 224px;
  height: 60px;
  background: rgba(255,255,255,1);
  padding: 20px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 261px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v9_5877 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 20px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v9_5879 {
  width: 225px;
  height: 60px;
  background: rgba(255,255,255,1);
  padding: 20px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 549px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v9_5880 {
  width: 185px;
  color: url("../images/v9_5880.png");
  position: absolute;
  top: 13px;
  left: 20px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_5881 {
  width: 360px;
  height: 68px;
  background: url("../images/v9_5881.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 100px;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 1368px;
  overflow: hidden;
}
.v9_6368 {
  width: 48px;
  height: 48px;
  background: url("../images/v9_6368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 100px;
  overflow: hidden;
}
.v9_6369 {
  width: 48px;
  height: 48px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_6370 {
  width: 32px;
  height: 40px;
  background: rgba(47,148,96,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 8px;
}
.v9_6408 {
  width: 48px;
  height: 48px;
  background: url("../images/v9_6408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 212px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v10_3053 {
  width: 953px;
  height: 269px;
  background: url("../images/v10_3053.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 467px;
  overflow: hidden;
}
.v10_3054 {
  width: 953px;
  height: 269px;
  background: url("../images/v10_3054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 593px;
  left: 467px;
  overflow: hidden;
}
.v9_6360 {
  width: 426px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 58px;
  left: 467px;
  font-family: Nunito;
  font-weight: SemiBold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
